html {height:100%}
body {height:100%;margin:0;padding:0}
#map_canvas {margin: 0;padding: 0;height: 100%;z-index: 0;}
#banner {position:absolute; font-size:2em; padding:10px;z-index:888;top:50px;left:0;opacity:0.8; width:100%; text-align:center;border:1px #ccc solid;}
#logo {position:absolute;z-index:999;opacity:0.8;bottom:30px; right:30px;}
#logo img {border-radius:25px;border:none;